html,
body {
    margin: 0;
    padding: 0;
    background-color: #faf7f7;
}

#principal {

    position: fixed;
    background-color: #e6edf7;
    border-bottom: 1px solid #39f;
    top: 0;
    font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    line-height: normal;
    letter-spacing: 1px;
    width: 100%;
    height: 5%;
}

nav ul {
    text-align: center;
}

nav li {

    display: inline-block;

    list-style-type: none;
    margin: 0 10px 0 0;
    background-color: #e6edf7;
    font: #39f;
    letter-spacing: 2px;
}


li:hover {
    font: #585858;
}


.centrado {
    width: 900px;
    margin:auto;
    border:  1px solid #faf7f7; 
    box-shadow: 0px 0px 10px 13px rgb(231, 231, 231);
    padding:30px;
    

}
.link{
    display: flex;
    justify-content:space-evenly;
    border-bottom: 1px solid rgb(0, 0, 0);

}


.link a{
    padding: 1px 10px;
}

.blog {
    color: #b5b5b5;
    font-size: 20px;


}

.banner {

    margin-top: 20px;
    margin-left: 0px;
}

.titulo1 {
    background-color: #e6edf7;
    color: #848484;
    font-family: cursive;
    font-size: 35px;
    line-height: normal;
    letter-spacing: 5px;
}


h2 {
    font-size: 12px;
    color: #666666;
    text-align: center;

}

p {
    color: #666666;
}

.caja1{
    display: flex;
    
}

main{
    width: 70%;
    padding: 0px;
    
}

aside{
    width: 30%;
    padding: 15px;
}
figure{
    color: #666666;
}

.avio{
    position: fixed;
    height: 100px;
    width: 100px;
    bottom: 0vh;
    right: 0vw;
}